---
import Header from "../components/Header.astro";
import Base from "../Layouts/Base.astro";
---

<Base titre="Accueil">
  <div class="bg-gray-100 py-1 mt-1">
    <div style="text-align: center; color: black;">
      <h1>Offres</h1>
    </div>
  </div>
</Base>
