<nav>
    <a href="/">Accueil</a>
    <a href="/offres">Offres</a>
    <a href="/agents">Agents</a>
</nav>

<style>
        nav {
                background-color: rgb(4, 4, 4);
                text-align: center;
        }
        nav a {
                color: white;
                display: inline-block;
                padding: 10px;
        }
</style>


<style>
        h1 {
                background-color:gray;
                color: white;
                text-align: center;
                padding: 20px;
        }
</style>