---
import { addOffre } from "../../backend.mjs";
import Base from "../../Layouts/Base.astro";
let message = "";
if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const response = await addOffre(formData);
  console.log(response);

  message = response.message;
}
---

<Base>
  <h1 class="text-lg pl-4 pt-2">Ajouter une offre</h1>
  <form
    class="flex flex-col p-4"
    action="/offres/add"
    method="POST"
    enctype="multipart/form-data"
  >
    <input
      type="text"
      name="nom_maison"
      placeholder="Nom de la maison"
      required
      class="w-full mt-2 p-2 border border-black rounded-md"
    />
    <input
      type="number"
      name="prix"
      placeholder="Prix"
      class="w-full mt-2 p-2 border border-black rounded-md"
    />
    <input
      type="number"
      name="salle_de_bain"
      placeholder="Nombre de salles de bain"
      class="w-full mt-2 p-2 border border-black rounded-md"
    />
    <input
      type="number"
      name="chambre"
      placeholder="Nombre de chambres"
      class="w-full mt-2 p-2 border border-black rounded-md"
    />
    <input
      type="number"
      name="superface"
      placeholder="Superficie"
      class="w-full mt-2 p-2 border border-black rounded-md"
    />
    <input
      type="text"
      name="adresse"
      placeholder="Adresse"
      class="w-full mt-2 p-2 border border-black rounded-md"
    />
    <input type="file" name="image" />
    <button type="submit">Ajouter</button>
  </form>
</Base>
